canvas#c1 {
    border: 5px solid White; /* Neon green border */
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14; /* Neon glow effect */
}

body {
    background-color: #0a0a23; /* Change background color to blue */
    color: #7dfcff; /* Change text color to sky blue */
   font-family: 'Orbitron', sans-serif; /* Change font style to Cypher */
    text-align: center;
}

video {
    width: 0px;
    height: 0px;
}

table {
    width: auto;
    margin: auto;
}

tr, td {
    border: 0px;
    text-align: center; 
}
